body, table, input, button {
    font: 300 16px/140% 'Roboto', sans-serif;
  }
  
  body {
    background-color: #121214;
    color: #ffffff;
  }
  
  table {
    border-collapse: collapse;
  }
  
  table thead {
    font-size: 14px;
    line-height: 16px;
  }
  
  thead th,
  tbody td {
    padding: 12px 16px;
  }
  
  tbody td {
    border-top: 1px solid #ffffff1a;
    font-size: 13px;
    line-height: 15px;
    color: #c4c4cc;
  }
  
  tbody td strong {
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }
  
  tbody td small {
    font-size: 12px;
    line-height: 16px;
  }
  
  tbody td button {
    all: unset;
    color: #9FF9CC;
  }
  
  tbody td button:hover {
    text-decoration: underline;
  }
  